# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

# Model files
*.tflite
!model_zoo/**/*.tflite
*.pt
*.onnx

# Various build files
EPII_CM55M_APP_S/obj_*/**
we2_image_gen_local/output_*/**
we2_image_gen_local/Images*.txt
*.elf
*.map
*.img
*.bin
*.a
*.log
*.crt 
*.txt

# Exception: prebuilt firmware
!we2_image_gen_local/output_case1_sec_wlcsp/
!we2_image_gen_local/output_case1_sec_wlcsp/output.img

# Python & envs
.venv/
__pycache__/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
.VolumesIcon.icns
.com.apple.timemachine.donotpresent
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
